<div class="auth-container">
  <h2>Change your password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <% if resource.errors.any? %>
      <div class="auth-errors">
        <% resource.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
    <% end %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password, "New password" %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
      <small style="color: #888; font-size: 12px;">6 characters minimum</small>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirm new password" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <%= f.submit "Change my password" %>
  <% end %>

  <div class="auth-links">
    <%= link_to "Log in", new_session_path(resource_name) %>
  </div>
</div>
